<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asadchattha.tiktoklikesandfollowers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.Earn.ScratchActivity" />

        <activity android:name=".Activities.Likes.PayToGetLikesActivity" />

        <activity
            android:name=".Activities.Followers.FollowersListActivity"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".Activities.Followers.GetFollowerActivity"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".HomeActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Earn.RateUsActivity"
            android:label="Rate US"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".Activities.Earn.DoShareActivity"
            android:label="Do Share"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Earn.DoCommentActivity"
            android:label="Do Comment"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Earn.DoFollowingActivity"
            android:label="Do Folowing"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Earn.DoLikesActivity"
            android:label="Do Likes"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Earn.ScratchAndWinActivity"
            android:label="Scratch and Win"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Earn.WatchVideosActivity"
            android:label="Watch Videos"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Likes.LikesListActivity"
            android:label="Likes List"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Likes.GetLikesActivity"
            android:label="Get Likes"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".Activities.Comments.CommentsListActivity"
            android:label="Comments List"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".Activities.Comments.GetCommentsActivity"
            android:label="Get Comments"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:name=".Activities.Shares.ShareListActivity"
            android:label="Share List"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Activities.Shares.GetShareActivity"
            android:label="Get Share"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>